/* ChatRoom.css */
.chatroom-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .messages {
    margin-bottom: 20px;
  }
  
  .message-input {
    display: flex;
    align-items: center;
  }
  
  .message-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .message-input button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chatroom-heading {
    margin-left: 245px;
  }  
  
  .logout-button {
    padding: 8px 16px;
    border: none;
    background-color: #ff6347;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #d84315;
  }